/*////////////////////////
 THIS IS GOING TO BE APPLIED TO ALL OF THE PAGES 
///////////////////*/
body {

/*background-color: rgb(235, 250, 255);*/
background-color: rgb(255, 255, 255);
margin:0;
padding:0;
}






h1{
	position: relative;
	color: rgb(110, 110, 110);
	margin-right: 4px;
	margin-top: 0px;
	font-size: 1.3cm;
}

h2{
	position: absolute;
	color: rgb(110,110,110);
	margin-top: 620px;
	margin-left: 685px;
	font-size: 28px;
	
}

h3{
	position: absolute;
	color: rgb(125,125,125);
	margin-top: 665px;
	margin-left: 595px;
	font-size: 18px;
}


h1, h2{
	font-family: "Palatino Linotype", Palatino, serif;
	text-align: center;
}

/* This will be the placeholder for creating circles unless I find a better way. */

#circle {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: lightgrey;
      margin-left: 650px;
      margin-top: -30px;
      margin-bottom: 45px;
     }

 #circle2 {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: lightblue;
      margin-left: 730px;
      margin-top: -85px;
      margin-bottom: 45px;
     }

 #circle3{
 	width: 40px;
      height: 40px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: rgb(0, 134, 158);
      margin-left: 810px;
      margin-top: -85px;
      margin-bottom: 45px;

 }
 




img{
	padding: 0px; 
	position: absolute;
	margin-left: 0px;
	box-shadow: 12px 10px 20px #888888;
} 


#nav
{

	background-color: rgb(0, 60, 88);
	padding: 1px;
	margin-top: -30px;

}

#content{
	overflow: auto;
	height: 100%;
}


  

li{
	display: inline-block;
	padding: 0px;
	font-size: 18px;
	margin-left: 312px;
}


ul{
	white-space: nowrap;
	}



p{
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	position: absolute;
	margin-left: 500px;
	text-align: center;


}

